@media (max-width:750px){
    .site-title a{
        font-size: 20px;
    }
    .site-main-navigation{
        width: 100%;
    }
    .reviews{
        display: block;
        width: auto;
    }
    .reviews article{
        margin: 0 auto;
        margin-bottom: 1em;
    }
    .services{
        display: block;
        margin: 0 auto;
        justify-content: center;
        width: 80%;
    }
    .services .item{
        width: 75%;
    }
    .upper-footer{
        display: block;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    .slogan-text h1{
        font-size: 20px;
    }
    .follow-us{
        justify-content: center;
    }
    .newsletter-heading h2{
        font-size: 20px;
    }
    .information{
        display: block;
        width: 80%;
    }
    .newsletter{
        width: 70%;
    }
    .slogan-text{
        width: 70%;
    }
    h1{
        font-size: 20px;
    }
}