html{
    font-family: PT Sans,sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
}

header{
    color:rgb(167, 125, 80);
    display: flex;
    background: black;
    justify-content: space-between;
}

nav ul {
    display: flex;
}
nav ul li{

    list-style: none;
    margin: 0.5em;
    padding: 3px;

}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-style: bold;
    color: rgba(167, 107, 41);
}
nav{
    margin-top: 1em;
    margin-right: 3em;
}

main .main-content{
    display: flex;
}
main section{
    display: block;
    margin: 2em;
    text-align: center;
    border: 1px solid gray;
    background: rgba(203, 208, 214, 0.755);
    border-radius: 5px;
    padding: 1em;
}
.header-logo{
    width: 50px;
    height: 50px;
    position: relative;
    left: 20px;
}

.logo h1{
    font-size: 30px;
    margin-left: 5px;
    position: relative;
    top: 5px;
    margin: 0 0.5em 0 1em;
}
.logo{
    display: flex;
    padding: 0.5em;
}
.header-info{
    font-size: 10px;
    position: relative;
    top: 5px;
}
.phone{
    position: relative;
    top: 30px;
    font-weight: bold;
    left:50px;
}

.main-image{
    background-image: url("/images/Deon_BMW-Z4-and-M850i_21-MAIN-option-2-1600x898.jpg");
    height: 60%;
    width: 100%;
    background-size: cover;
}

