html{
    font-family: PT Sans,sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   
}

header{
    color:rgb(167, 125, 80);
    display: flex;
    background: rgba(35, 220, 118, 0.755);
    justify-content: space-between;
}

nav ul {
    display: flex;
}
nav ul li{

    list-style: none;
    margin: 0.5em;
    padding: 3px;

}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-style: bold;
    color: rgba(167, 107, 41);
}
nav{
    margin-top: 1em;
    margin-right: 3em;
}

main{
    display: flex;
}
main section{
    display: block;
    margin: 2em;
    text-align: center;
    border: 1px solid gray;
    background: rgba(203, 208, 214, 0.755);
    border-radius: 5px;
    padding: 1em;
}
img{
    width: 40px;
    height: 40px;
    
}

.logo h1{
    font-size: 30px;
    margin-left: 5px;
}
.logo{
    margin-left: 2em;
    display: flex;
    padding: 0.5em;
}