html{
    font-family: 'Acme', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
}

/* Navigation */
.site-title{
    padding: 0.5em;
    margin-left: 3em;
}
.site-title a{
    font-family: 'Permanent Marker', cursive;
    text-decoration: none;
    font-size:  30px;
    color: salmon;
    text-shadow: 2px 2px black;
}
.site-main-navigation{
    display: flex;
    background: rgb(43, 122, 185);
    position: sticky;
    justify-content: space-between;
    border-bottom: 2px solid salmon;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.main-navigation ul{
    display: flex;
    padding: 1em;
    margin: auto;
}
.main-navigation ul li{
    list-style: none;
    padding: 0.5em;
    border-right: 1px solid salmon;
    border-left: 1px solid salmon;
    border-radius: 5px;
    margin: 0 0.5em 0 0.5em;
}
.main-navigation ul li a{
    text-decoration: none;
    padding: 0.5em;
    color: white;
}
.main-navigation ul li:hover{

    border-top: 1px solid salmon;
    border-bottom: 1px solid salmon;
}

/* Slogan */
.site-main-slogan{
    background: url("https://justteshi.github.io/Thrift-Shop/images/Screenshot_1.png");
    background-size: cover;
    width: 100%;
    height: 30em;
    margin:0 auto;
    border-bottom: 2px solid salmon;
}
.slogan-text {
    margin: 0 auto;
    text-align: center;
    width: 50%;
    padding-top: 8em;
    padding-bottom: 4em;
    text-shadow: 2px 2px black;
}
.slogan-text h1{
    color: salmon;
    font-size: 50px;
    background: rgb(43, 122, 185, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 2px solid salmon;
    border-bottom: none;
    padding: 10px;
    
}

.slogan-text p{
    padding: 0.5em;
    background: rgb(43, 122, 185, 0.5);
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid salmon;
    border-top: none;
    font-size: 22px;
}

/* TO DO "See More" button */

.slogan-text h5{
    padding: 0.5em;
    width: 100px;
    background: rgb(43, 122, 185);
    margin: 0 auto;
    margin-top: 2em;
    border-radius: 15px;
    font-size: 15px;
}
.slogan-text h5:hover{
    background: rgb(16, 102, 173);
}
.slogan-text h5 a{
   
    text-decoration: none;
    color: white;
}
main{
    background: lightcyan;
    padding-bottom: 2em;
}

/* About */

.about-secondhand-clothes{
    margin: 0 auto;
    width: 75%;
}
.about-secondhand-heading{
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-size: 30px;
    color: salmon;
    border-bottom: 10px dashed rgb(43, 122, 185);
    text-shadow: 2px 2px black;
}
.about-secondhand-clothes p{
    color: rgb(43, 122, 185);
    padding: 1em;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
.about-button{
    text-align: center;
    border-radius: 5px;
    background: rgb(43, 122, 185);
    color: white ;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    
}

/* Customer Reviews */

.customers-review{
    margin: 0 auto;
    width: 75%;
    margin-top: 4em;
}
.customers-review-heading{
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-size: 25px;
    color: salmon;
    border-bottom: 7px double rgb(43, 122, 185);
    text-shadow: 2px 2px black;
}

.reviews{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 2em;
}
article{
    display: block;
    width: 30%;
    margin: 1em;
    padding: 1em;
    border: 2px solid salmon;
    border-radius: 5px;
    text-align: center;
    
}
article:hover{
    transform: translate(0,-2em);
    background: white;
}
article p{
    font-style: italic;
}
.person-image{
    margin: 0 auto;
    width: 100px;
    height: 100px;
}
.person-image img{
    max-width: 100%;
    max-height: 100%;
}


/* Services */
.service{
    margin: 0 auto;
    width: 90%;
    margin-top: 4em;

}
.services{
    display: flex;
    width: 75%;
    margin: 0 auto;
}
.service-heading{
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-size: 25px;
    color: salmon;
    border-bottom: 7px dotted rgb(43, 122, 185);
    width: 50%;
    margin: 0 auto;
    text-shadow: 2px 2px black;
}
.item{
    padding: 1em;
    width: 30%;
    display: block;
    justify-content: center;
    margin: 0 auto;
    opacity: 0.6;
}
.item:hover{
    transform: scale(1.5);
}
.item img{
    position: relative;
    left: 35%;
    width: 100px;
    height: 100px;
}
.item:hover{
    opacity: 1;
}
/* TODO fix services section */


/* Newsletter */

.newsletter-heading{
    text-align: center;
    padding: 1em 0 0.5em 0;
    font-size: 20px;
    color: salmon;
    width: 30%;
    margin: 0 auto;
    text-shadow: 2px 2px black;
}
.newsletter{
    width: 40%;
    border: 1px solid salmon;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 8em;
    margin-bottom: 4em;
    display: block;
    background: rgb(102, 170, 226, 0.7);
}
.newsletter-form{
    text-align: center ;
}
.newsletter-form input{
    width: 40%;
    text-align: center ;
    padding: 1em;
    font: inherit;
    width: 40%;
    border-radius: 10px;
    border: none;
}
.form-button{
    padding: 1em;
    border-radius: 10px;
    background: rgb(43, 122, 185);
    color: white;
    width: 100px;
    margin: 0 auto;
    margin-top:2em;
    margin-bottom: 2em;
    font-size: 15px;
    text-shadow: 2px 2px black;
}
.form-button:hover{
    background: rgb(16, 102, 173);
}



/* InfoSection */

.information{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 1em;
    background: rgb(102, 170, 226, 0.7);
}
.info-item img{
    width: 150px;
    height: 150px;
}

.info-item{
    margin: 4em;
    text-align: center;
}
.info-item p{
    font-size: 25px;
    padding: 0.5em;
    color: rgb(43, 122, 185);
    text-shadow: 1px 1px black;
}




/* Footer */

footer{
    padding: 3em 3em 0.5em 3em;
    background: rgb(43, 122, 185);
    width: auto;
    justify-content: center;    
    color: white;
    text-shadow: 2px 2px black;
}
.upper-footer{
    display: flex;
    justify-content: center;
    padding-bottom: 1em;
}
.upper-footer section{
    margin-left: 5em;
    margin-right: 5em;
}
footer h2{
    font-size: 26px;
    border-bottom: 1px solid white;
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px black;
}
.links{
    display: block;
    
}
.links h3 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.contacts{
    display: block;
}
.follow-us-section{
    display: block;
}
.follow-us{
    display: flex;
}
.follow-item-1{
    padding: 1em;
    background: greenyellow;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;

}
.follow-item-1:hover{
    transform:scale(1.5);
}
.follow-item-2:hover{
    transform:scale(1.5);
}
.follow-item-3:hover{
    transform:scale(1.5);
}
.follow-item-4:hover{
    transform:scale(1.5)
}
.follow-item-2{
    padding: 1em;
    background: pink;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}
.follow-item-3{
    padding: 1em;
    background: red;
    width: 30px;
    height: 30px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}
.follow-item-4{
    padding: 1em;
    background: lightseagreen;
    width: 30px;
    height: 30px;    
    text-align: center;
    color: white;
    text-shadow: 2px 2px black;
}
.last-footer{
    text-align: center;
    width: 30%;
    margin: 0 auto;
    border-top: 1px solid white;
}
