<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>{{ site.title }}</title>
</head>
<body>
    <div class="site">
        <header class="site-header">
            <!-- Navigation -->
            <div class="site-main-navigation">
                <div class="site-title">
                    <a href="#">Thrift Shop</a>
                </div>
                <nav class="main-navigation">
                    <ul>
                        <li>
                            <a href="#home">Home</a>
                        </li>
                        <li>
                            <a href="#about">About Us</a>
                        </li>
                        <li>
                            <a href="#products">Products</a>
                        </li>
                        <li>
                            <a href="#feedback">Feedback</a>
                        </li>
                        <li>
                            <a href="#contacts">Contacts</a>
                        </li>
                    </ul>
                </nav>
                
            </div>
        </header>
            <!-- Main-Content -->
            <main class="site-main-content">
                <div class="site-main-slogan">
                    <div class="slogan-text">
                        <h1>Unique Thrift Store with generic products</h1>
                        <p>Bargains, Deals and Steals</p>
                        <h5><a href="#">See More</a></h5>
                    </div>
                </div>

                <section class="about-secondhand-clothes">
                    <div class="about-secondhand-heading">
                        <h1>Second-Hand Clothes</h1>
                    </div>
                    <p>Up until recently, the phrase “second-hand store” sounded almost like an insult in Bulgaria. To walk into a shop like that was a dirty little secret, shared in hushed voices and dimmed lights. However, the second-hand boutique trend is now more popular than ever. So much so that when you see a truly spectacular street style star, they almost certainly wearing a pre-loved item to complete their outfit. It’s time to accept the facts – second-hand is not a dirty word. In fact, it is the key to dressing well and being eco-friendly simultaneously.  </p>
                    <!-- <a href="#" class="about-button">More about us</a> -->
                </section>

                <section class="customers-review">
                    <div class="customers-review-heading">
                        <h1>Customer's Review</h1>
                    </div>
                    <div class="reviews">
                        <article>
                            <div class="person-image">
                                <img src="{{ site.baseurl }}/images/person2.png">
                            </div>
                            <p>"Everything with the order and shipping was good."</p>
                        </article>
                        <article>
                            <div class="person-image">
                                <img src="{{ site.baseurl }}/images/person1.png">
                            </div>
                            <p>"Everything with the order and shipping was good."</p>
                        </article>
                        <article>
                            <div class="person-image">
                                <img src="{{ site.baseurl }}/images/person3.png">
                            </div>
                            <p>"Everything with the order and shipping was good."</p>
                        </article>
                    </div>
                </section>
                
                <section class="service">
                    <div class="service-heading">
                        <h1>We Offer Original Clothes</h1>
                    </div>
                    <div class="services">
                        <div class="item">
                            <img src="{{ site.baseurl }}/images/adidas.png">
                        </div>
                        <div class="item">
                            <img src="{{ site.baseurl }}/images/nike.png">
                        </div>
                        <div class="item">
                            <img src="{{ site.baseurl }}/images/lacoste.png">
                        </div>
                        <div class="item">
                            <img src="{{ site.baseurl }}/images/polo.png">
                        </div>
                        <div class="item">
                            <img src="{{ site.baseurl }}/images/jordan.png">
                        </div>
                    </div>
                </section>
                <section class="information">
                        <!-- <div class="info-heading">
                                <h1>Information</h1>
                            </div> -->
                    <div class="info-item">
                        <img src="{{ site.baseurl }}/images/tshirt.png">
                        <p>100% Authentic Clothes and 
                            <br>
                            Original Accessories.</p>
                    </div>
                    <div class="info-item">
                        <img src="{{ site.baseurl }}/images/delivery.png">
                        <p>Free Delivery with every item. 
                            <br>
                        We are proseding orders every day.</p>
                    </div>
                </section>


                <section class="newsletter">
                    <div class="newsletter-heading">
                        <h2>Sing-up to our newsletter</h2>
                    </div>
                    <div class="newsletter-form">
                        <input type="text" placeholder="Enter your email here...">
                        <p class="form-button">Send</p>
                    </div>
                </section>
            </main>

        <footer class="site-footer">
            <div class="upper-footer">
                <section class="links">
                    <h2>Links</h2>
                    <h3><a href="#">Home</a></h2>
                    <h3><a href="#">Products</a></h2>
                    <h3><a href="#">Feedback</a></h2>
                    <h3><a href="#">Abouts us</a></h2>
                </section>
                <section class="contacts">
                    <h2>Contacts</h2>
                    <p><i class="fas fa-phone"></i> +359 898 526 347</p>
                    <p><i class="fas fa-map-marker-alt"></i> ul.Vitoshka 37 , Sofia 1000 , Bulgaria</p>
                    <p><i class="fas fa-envelope"></i> thriftshop@mail.bg</p>
                </section>
                <section class="follow-us-section">
                    <h2>Follow us</h2>
                    <div class="follow-us">
                        <div class="follow-item-1"><i class="fab fa-facebook-f fa-2x"></i></div>
                        <div class="follow-item-2"><i class="fab fa-instagram fa-2x"></i></div>
                        <div class="follow-item-3"><i class="fab fa-youtube fa-2x"></i></div>
                        <div class="follow-item-4"><i class="fab fa-twitter fa-2x"></i></div>
                    </div>
                </section>
            </div>
            <div class="last-footer">
                <p>2019 - Thrift Shop© | All Rights Reserved.</p>
            </div>
        </footer>
    </div>
</body>
</html>
